<div class="row justify-content-center">
    <div class="col-md-4 register-race">
      <!-- form card register -->
      <div class="card card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">Edit Race</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
 
            <div class="form-group">
                <label for="inputName">Name</label>
                <input class="form-control" type="text" formControlName="name" placeholder="Human">
                <!-- error -->
                <div class="invalid-feedback" *ngIf="submitted && myForm.name.errors?.required">
                  You must name your race.
                </div>
              </div>
      
              <div class="form-group">
                <label for="inputPassword3">Size</label>
                <select class="custom-select form-control" (change)="updateProfile($event.target.value)"
                  formControlName="size">
                  <option value="">Choose...</option>
                  <option *ngFor="let raceProfile of RaceProfile" value="{{raceProfile}}">{{raceProfile}}
                  </option>
                </select>
                <!-- error -->
                <div class="invalid-feedback" *ngIf="submitted && myForm.size.errors?.required">
                  Please choose a size.
                </div>
              </div>
    
              <div class="form-group">
                <label for="inputVerify3">Speed (In feet)</label>
                <input class="form-control" type="text" formControlName="speed" placeholder="30">
                <!-- error -->
                <div class="invalid-feedback" *ngIf="submitted && myForm.speed.errors?.required">
                  You must give your race a speed.
                </div>
                <div class="invalid-feedback" *ngIf="submitted && myForm.speed.errors?.pattern">
                  Your speed must be a number.
                </div>
              </div>
              
              <div class="form-group">
                <label for="inputLanguages">Languages</label>
                <input class="form-control" type="text" formControlName="languages" placeholder="Common">
                <!-- error -->
                <div class="invalid-feedback" *ngIf="submitted && myForm.languages.errors?.required">
                  Please give your race a language.
                </div>
              </div>
    
              <div class="form-group">
                <label for="inputStrength">Strength Score Increase (Decrease if -)</label>
                <input class="form-control" type="text" formControlName="strengthAdd" placeholder="0">
                <!-- error -->
                <div class="invalid-feedback" *ngIf="submitted && myForm.strengthAdd.errors?.pattern">
                  If there is one, the change to the Strength score must be a number (Positive or Negative).
                </div>
              </div>
    
              <div class="form-group">
                <label for="inputDexterity">Dexterity Score Increase (Decrease if -)</label>
                <input class="form-control" type="text" formControlName="dexterityAdd" placeholder="0">
                <!-- error -->
                <div class="invalid-feedback" *ngIf="submitted && myForm.dexterityAdd.errors?.pattern">
                    If there is one, the change to the Dexterity score must be a number (Positive or Negative).
                </div>
              </div>
    
              <div class="form-group">
                <label for="inputConstitution">Constitution Score Increase (Decrease if -)</label>
                <input class="form-control" type="text" formControlName="constitutionAdd" placeholder="0">
                <!-- error -->
                <div class="invalid-feedback" *ngIf="submitted && myForm.constitutionAdd.errors?.pattern">
                    If there is one, the change to the Constitution score must be a number (Positive or Negative).
                </div>
              </div>
    
              <div class="form-group">
                <label for="inputIntelligence">Intelligence Score Increase (Decrease if -)</label>
                <input class="form-control" type="text" formControlName="intelligenceAdd" placeholder="0">
                <!-- error -->
                <div class="invalid-feedback" *ngIf="submitted && myForm.intelligenceAdd.errors?.pattern">
                    If there is one, the change to the Intelligence score must be a number (Positive or Negative).
                </div>
              </div>
    
              <div class="form-group">
                <label for="inputWisdom">Wisdom Score  Increase (Decrease if -)</label>
                <input class="form-control" type="text" formControlName="wisdomAdd" placeholder="0">
                <!-- error -->
                <div class="invalid-feedback" *ngIf="submitted && myForm.wisdomAdd.errors?.pattern">
                    If there is one, the change to the Wisdom score must be a number (Positive or Negative).
                </div>
              </div>
              
              <div class="form-group">
                <label for="inputWisdom">Wisdom Score  Increase (Decrease if -)</label>
                <input class="form-control" type="text" formControlName="wisdomAdd" placeholder="0">
                <!-- error -->
                <div class="invalid-feedback" *ngIf="submitted && myForm.wisdomAdd.errors?.pattern">
                    If there is one, the change to the Wisdom score must be a number (Positive or Negative).
                </div>
              </div>
              
              <div class="form-group">
                <label for="inputCharisma">Charisma Score Increase (Decrease if -)</label>
                <input class="form-control" type="text" formControlName="charismaAdd" placeholder="0">
                <!-- error -->
                <div class="invalid-feedback" *ngIf="submitted && myForm.charismaAdd.errors?.pattern">
                    If there is one, the change to the Charisma score must be a number (Positive or Negative).
                </div>
              </div>
    
              <div class="form-group">
                <label for="inputAbility">Abilities/Other</label>
                <input class="form-control" type="text" formControlName="abilities" placeholder="+2 to Sneak, Can cast Magic Missile 1/day, Fly speed 30ft">
                <!-- error -->
                <div class="invalid-feedback" *ngIf="submitted && myForm.abilities.errors?.required">
                  Please give your race an ability, or at the very least, flavor text. (This is what makes your race stand out/be more unique)
                </div>
              </div>
 
            <div class="form-group">
              <button class="btn btn-success btn-lg btn-block" type="submit">Update</button>
            </div>
          </form>
        </div>
      </div><!-- form  -->
    </div>
  </div>