<div class="pageback">
    <h2 class="d-flex justify-content-center">WELCOME TO THE VAULT!</h2>
    <br/>
    <pre class="d-flex justify-content-center text-danger">
                 ___====-_  _-====___
           _--^^^#####//      \\#####^^^--_
        _-^##########// (    ) \\##########^-_
       -############//  |\^^/|  \\############-
     _/############//   (@::@)   \\############\_
    /#############((     \\//     ))#############\
   -###############\\    (oo)    //###############-
  -#################\\  / VV \  //#################-
 -###################\\/      \//###################-
_#/|##########/\######(   /\   )######/\##########|\#_
|/ |#/\#/\#/\/  \#/\##\  |  |  /##/\#/  \/\#/\#/\#| \|
`  |/  V  V  `   V  \#\| |  | |/#/  V   '  V  V  \|  '
   `   `  `      `   / | |  | | \   '      '  '   '
                    (  | |  | |  )
                   __\ | |  | | /__
                  (vvv(VVV)(VVV)vvv)
    </pre>
    <br/>
    <p>The purpose of this place is to store homebrew DnD races (Though if development were to continue, in the future, this could expand to homebrew character creation). To get started, click on either of the other two navigation buttons. "View Races" allows you to look at all the races in storage (Or edit/delete them), and "Add Race" allows you to submit your own race to the vault.</p>
</div>


