<div class="container">
    <!-- No data message -->
    <p *ngIf="Race.length <= 0" class="chainborder no-data text-center">There are no races in the vault at this moment.</p>
  
    <!-- Race list -->
    <table class="table table-bordered table-dark" *ngIf="Race.length > 0">
      <thead class="table-success text-dark">
        <tr>
          <!--DEBUG-->
          <!--<th scope="col">Race ID</th>-->
          <th scope="col">Name</th>
          <th scope="col">Size</th>
          <th scope="col">Speed (In Feet)</th>
          <th scope="col">Languages</th>
          <th scope="col">Strength Score Increase (Decrease if -)</th>
          <th scope="col">Dexterity Score Increase (Decrease if -)</th>
          <th scope="col">Constitution Score Increase (Decrease if -)</th>
          <th scope="col">Intelligence Score Increase (Decrease if -)</th>
          <th scope="col">Wisdom Score Increase (Decrease if -)</th>
          <th scope="col">Charisma Score Increase (Decrease if -)</th>
          <th scope="col">Abilities/Other</th>
          <th scope="col center">Update</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let race of Race; let i = index">
          <!--DEBUG-->
          <!--<th scope="row">{{race._id}}</th>-->
          <td>{{race.name}}</td>
          <td>{{race.size}}</td>
          <td>{{race.speed}}</td>
          <td>{{race.languages}}</td>
          <td>{{race.strengthAdd}}</td>
          <td>{{race.dexterityAdd}}</td>
          <td>{{race.constitutionAdd}}</td>
          <td>{{race.intelligenceAdd}}</td>
          <td>{{race.wisdomAdd}}</td>
          <td>{{race.charismaAdd}}</td>
          <td>{{race.abilities}}</td>
          <td class="text-center edit-block">
            <span class="edit" [routerLink]="['/edit-race/', race._id]">
              <button type="button" class="btn btn-success btn-sm">Edit</button>
            </span>
            <span class="delete" (click)="removeRace(race, i)">
              <button type="button" class="btn btn-danger btn-sm">Delete</button>
            </span>
          </td>     
        </tr>
      </tbody>
    </table>
</div>