<div class="darkbg d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm">
    <h1 class="chainborder site-heading text-center d-none d-lg-block">
      {{title}}
    </h1>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="chainbordertwo btn btn-secondary" routerLinkActive="active" routerLink="/homepage">Homepage</a>
      <a class="chainbordertwo btn btn-secondary" routerLinkActive="active" routerLink="/races-list">View Races</a>
      <a class="chainbordertwo btn btn-secondary" routerLinkActive="active" routerLink="/create-race">Add Race</a>
    </nav>
</div>
<router-outlet></router-outlet>