@import "bootstrap.min.css";

@font-face {
  font-family: scala;
  src: url(fonts/scalasans.otf);
}
@font-face {
  font-family: modesto;
  src: url(fonts/modesto-bold.ttf);
}

html, body, header {
  font-size: 14px;
  overflow-x: hidden;
  background-image: url("images/castlewall.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: scala;
}

header.a:hover {
  color: black;
}

html,
body {
  height: 100%;
}

h1 {
  font-family: modesto;
}

.card {
  padding: 10px;
  border: 9px solid #210040;
  background-image: url("images/page.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.card-outline-secondary {
  padding: 5px;
  border: 9px solid #210040;
  background-image: url("images/page.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.card-header{
  padding: 10px;
  border: 9px solid #210040;
  background: #130000;
  color: rgb(0, 255, 0);
}

form {
  padding: 10px;
  border: 9px solid #210040;
  background: #000613;
  color: rgb(255, 230, 0);
}

.darkbg {
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 34, 18, 0.685));
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  border-bottom: 3px solid black;
  border-image: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0));
}

/** Fancy text backgrounds **/
.pageback
{
  border: 9px solid #210040;
  background-image: url("images/page.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/** Fancy text backgrounds **/
.chainborder
{
  border: 10px solid transparent;
  padding: 15px;
  border-image: url("images/border.png") 30 round;
  background-image: url("images/page.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/** Fancy text backgrounds **/
.chainbordertwo
{
  border: 10px solid transparent;
  padding: 15px;
  border-image: url("images/border.png") 30 round;
  background-image: url("images/blackpage.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

label {
  font-weight: bold;
}

.central-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control:focus {
  box-shadow: none;
}

.register-race {
  margin-top: 25px;
}

.invalid-feedback {
  display: block;
}

.edit-block span {
  color: blue;
  cursor: pointer;
  display: inline-block;
  padding: 0 4px;
}

.center {
  text-align: center !important;
}

.no-data {
  padding: 25px 0;
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
  box-shadow: none;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

input {
  color: black !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(119, 119, 119) !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(119, 119, 119)  !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(119, 119, 119)  !important;
}